# Node
node_modules/
npm-debug.log*
yarn-error.log
pnpm-lock.yaml

# Environment variables
.env
.env.local

# Uploads
uploads/

# Logs
logs/
*.log

# Dependency directories
node_modules/

# Build outputs
dist/
build/
.tmp/
out/
.next/
